@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

;
html,
body,
#root,
.app,
.content {
  height: 962px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Substitua pela sua escolha de fonte */
  background-color: #f0f0f0; /* Altere para a cor desejada */
}


.app {
  display: flex;
  position: relative;
}

#linestyle{
  width: auto;
  height: 10;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #132532;
}

::-webkit-scrollbar-thumb:hover {
  background: #142630;
}
